




body {
  font: 18px "Clear Sans", "Helvetica Neue", Arial, sans-serif; 
  background-color: #1e1e1e;
  color: white;
  
  overflow: hidden;
  min-width: 720px;
  min-height: 670px;
  height: 100vh;
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 98vh;
}

.footer {
  width: 80vw;
  height: 50px;
  margin-bottom: 10px;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer ul li {
  margin: 10px;
  font-size: 13px;
  color: grey;
}
.footer ul li > * {
  text-decoration: none;
  color: grey;
}
.footer-icon {
  margin-right: 7px;
}

.bottom {
  grid-row-start: 2;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.bottom button {
  background-color: transparent;
  border: none;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}


main {
  position: relative;
  width: var(--board-length);
  height: var(--board-length);
}

aside {
  box-sizing: border-box;
  margin: 0 50px 0 0;
  border-radius: 10px;
  height: var(--board-length);
  width: 20%;
  padding: 10px;


  /* box-shadow: 0 1px 6px 0 #171717;
  background: #1e1e1e;
  border-color: rgba(223,225,229,0); */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

aside > * {
  margin-bottom: 10px;
  font-size: var(--aside-font-size);
  color: grey;
} 

aside button {
  color: white;
  background-color: #282c34;
  border-radius: 3px;
  border-color: rgba(223,225,229,0); 
  box-shadow: 0 1px 6px 0 #171717;
  height: calc(var(--aside-button-font-size) * 2);
  width: calc(var(--aside-button-font-size) * 8);

  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: var(--aside-button-font-size);
  margin: 20px 0 20px 0;
}

aside button:hover {
  background-color: green;
  border-color: rgba(223,225,229,0);
  color: white;
}



h1.title {
    font-size: var(--title-size);
    font-weight: bold;
    margin: 0;
    display: block;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: #007acc;
}

/*                             Board Container                                           */




.board-container {
    z-index: 1;
    position: absolute;
    border-radius: 6px;
    padding: var(--tile-margin) 0px 0px var(--tile-margin);
    background: #2d2d30;
    border-color: rgba(223,225,229,0); 
    box-shadow: 0 1px 6px 0 #171717;

    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    width: var(--board-length);
    height: var(--board-length);
    box-sizing: border-box;
}

.board-row {
    margin-bottom: var(--tile-margin);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}



.square {
  box-sizing: border-box;
  width: var(--tile-size);
  height: var(--tile-size);
  margin-right: var(--tile-margin);
  float: left;
  border-radius: 3px;
  border: 1px #2d2d30 solid;
  background:#3e3e42;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/*                             Tile Container                                           */
.tile-container {
  z-index: 2;
  position: relative;
  height: var(--board-length);
  width: var(--board-length);
  padding: var(--tile-margin) 0px 0px var(--tile-margin);
  box-sizing: border-box;
}



.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  position: absolute;
  margin-right: var(--tile-margin);
  float: left;
  border-radius: 3px;
  border: 1px #2d2d30 solid;


  font-size: var(--tile-font-size);
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: #282c34;
  text-align: center;
}

#game-won {
  background: rgba(237, 194, 46, 0.5);
  color: #f9f6f2;
}

#game-lost {
  background: rgba(238, 228, 218, 0.73); 
  color: #282c34;
}
#game-reset {
  background: rgba(238, 228, 218, 0.73); 
  color: #282c34;
}

.game-message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;

  width: var(--board-length);
  height: var(--board-length);
  border-radius: 3px;
  font-size: var(--tile-font-size);
  font-weight: bold;
  z-index: 100;
  /* animation: fadeIn 800ms ease 1200ms; */
  transition: all 1s ease-in;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.inlineIcon {
  margin-right: 15px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 63px;
}

.reset-board {
  align-self: center;
  justify-self: flex-end;

  transition: .125s;
  padding: 1rem 2rem;
  border-radius: 4px;
  width: 20%;
  margin-bottom: 10px;
  color: grey;

  display: flex;
  justify-content: center;
}

.reset-board:hover {
  color: white;
}

.ChatHistory {
  font-size: 10px;
  height: 70px;
  width: 120px;
  overflow-y: scroll;
}

.hidden {
  display: none;
}
.visually-hidden {
  opacity: 0;
}

/* ======== Privacy Policy ============= */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: grey #2b2b2c; 
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #2b2b2c;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid #2b2b2c;
}


/* ======== Privacy Policy ============= */
.info {
  margin-top: 10vh;
  margin-left: 30vw;
  margin-right: 30vw;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.info b {
  color: #7a82da;
}

.warning {
  color: #f47174;
}

/* ========= AI ========================= */
.ai-container {
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);

  display: grid;
  align-items: center;
  justify-content: center;
}
:root {
  --title-size: 80px;
  --aside-font-size: 23px;
  --aside-button-font-size: 20px;

  --tile-size: 106.25px;
  --tile-margin: 15px;
  --tile-font-size: 60px;
  --tile-font-size-3digit: 45px;
  --tile-font-size-4digit: 35px;
  --board-length: calc(var(--tile-margin) + 4 * (var(--tile-margin) + var(--tile-size)));

  --color-2x: #abb2bf;
  --color-4x: #eee1c9;
  --color-8x: #f3b27a;
  --color-16x: #f69664;
  --color-32x: #f77c5f;
  --color-64x: #f75f3b;
  --color-128x: #edd073;
  --color-256x: #edcc62;
  --color-512x: #edc950;
  --color-1024x: #edc53f;
  --color-2048x: #17a589;
}


@media screen and (max-width: 800px) {
  /* ********* this is super unfinished, only works for desktop atm */

    :root {
      --title-size: 50px; 
      --aside-font-size: 18px;
      --aside-button-font-size: 13px;

      --tile-size: 57.5px;
      --tile-margin: 10px;
      --tile-font-size: 35px;
      --tile-font-size-3digit: 25px;
      --tile-font-size-4digit: 20px;
      --board-length: calc(var(--tile-margin) + 4 * (var(--tile-margin) + var(--tile-size)))
    }

    /* .board {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: var(--board-length);
      margin-right: auto;
      margin-left: auto;
    } */


    .bottom {
      width: var(--board-length);
    }

    .board {
      display: grid;
      width: 100vw;
      justify-items: center;

    }


    .game {
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    main {
      margin-top: 10px;
    }

    aside {
      height: 130px;
      margin-bottom: 20px;/*
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center; */
      display: grid;
      grid-template-rows: auto 1fr;
      grid-template-columns: auto 1fr;
      width: calc(var(--board-length));
      gap: 10px;
    }

    aside button {
      margin-top: -7.5px;
      grid-row: 2;
      grid-column: 1;
      height: 50px;
      font-size: 17px;
      width: 130px;
    }

    .iconContainer {
      margin-top: -5px;
      grid-row: 2;
      grid-column: 2;
      display: inline-block;
    }
    #highest-tile {
      margin-top: 2px;
    }
}